<h4>Basic mat-select</h4>

<form [formGroup]="formService.myForm">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="food" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite drink</mat-label>
      <input matInput placeholder="Ex. Soda" formControlName="drink" />
    </mat-form-field>
  </div>
  <div>
    <button mat-flat-button (click)="resetClick()">Reset Form</button>
  </div>
</form>
